.change p{
    padding: 10px;
}

.change input,
.change textarea,
button {
    width: 200px;
    height: 30px;
}

.header{
    padding: 10px;
    border-bottom: 1px solid black;
    background: linear-gradient(to right,#D5D5D5,#F6F6F6);
}
