*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;  /* 부모 요소에게 상속 받은 값을 사용*/
}

ul,
li{
    list-style: none;
}

button{
    border: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
}